nav { 
    width: 100%; 
    height: 64px; 
    background-color: #1e293b; 
    position: fixed; 
    top: 0; 
    left: 0; 
    display: flex; 
    align-items: center; 
    padding: 0 20px; 
    box-sizing: border-box;  
    justify-content: space-between;  
    z-index: 99999;
} 
 
.logo { 
    font-size: 1.5rem; 
    font-weight: 600; 
} 
 
.logo-1 { 
    color: #ef4444; 
} 
 
.logo-2 { 
    color: #fde047; 
} 
 
.auth-buttons { 
    display: flex; 
    gap: 10px; 
} 
 
.login-button, 
.registration-button { 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    background-color: #8b5cf6; 
    color: white; 
    border-radius: 5px; 
    white-space: nowrap; 
    font-size: 1rem; 
    font-weight: 500; 
} 
 
.login-button:hover, 
.registration-button:hover { 
    background-color: #0056b3; 
}

.profile-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    color: #fff;
}

.userName {
    color: #fde047;
    margin-right: 10px;
    font-size: 1.5rem;
}

.profile-picture {
    width: 100%;
    border-radius: 50%;
    margin-right: 3px;
}
