.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    animation-name: twinkle;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes twinkle {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  body {
    background-color: #000;
  }