body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-color: gray; */
    overflow-x: hidden;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.home_top_container {
    width: 100vw;
    height: 500px;
    margin-left: -10px;
    /* background-color: #5302a8; */
}

.home_bottom_container {
    width: 100vw;
    margin-left: -8px;
    min-height: 600px;
    height: auto;
    padding: 50px 0 50px 0;
}

.slight_up {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow-x: auto;
    margin-right: 10px;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.container {
    /* background: #008000; */
    border-radius: 20px;
    flex-shrink: 0;
}

.container_image {
    object-fit: fill;
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

.small_box {
    width: 20%;
    height: 40px;
    border-radius: 20px;
    flex-shrink: 0;
}

.venue_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 400px;
    /* background-color: red; */
}  

.footer {
    min-width: 100vw;
    text-align: center;
    color: #fff;
    background-color: #282828;
    padding: 10px 0;
    bottom: 0;
}

.header_container {
    position: fixed;
    float: left;
    width: 100%;
    height: 50px;
    top: 0;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header_logo_container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 10px;
}

.header_btn_container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
}

.login_btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    border: none;
    padding: 5px 20px;
    text-decoration: none;
  }
  
  .login_btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

@media screen and (max-width: 500px) {

    .home_top_container {
        height: 100px;
        margin-left: 0px;
    }

    .home_bottom_container {
        margin: 0px;
    }
    .small_box {
        width: 30%;
    }
    .container {
        width: 90% !important;
        max-height: 25vh;
        border-radius: 5px;
    }
}