body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: gray;
    overflow-x: hidden;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.home_top_container {
    width: 100vw;
    height: 500px;
    padding: 50px 0;
    background-color: #5302a8;
}

.home_bottom_container {
    width: 100vw;
    margin-left: -8px;
    min-height: 600px;
    height: auto;
    padding: 50px 0 50px 0;
}

.slight_up {
    display: flex;
    position: relative;
    top: -150px;
    overflow-x: auto;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.container {
    background: #008000;
    border-radius: 20px;
    flex-shrink: 0;
}

.small_box {
    width: 20%;
    height: 40px;
    border-radius: 20px;
    flex-shrink: 0;
}

.venue_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 400px;
    /* background-color: red; */
}  

.footer {
    min-width: 100vw;
    text-align: center;
    color: #fff;
    background-color: #282828;
    padding: 10px 0;
    bottom: 0;
}


@media screen and (max-width: 500px) {

    .home_top_container {
        height: 100px;
    }

    .home_bottom_container {
        margin: 0px;
    }
    .small_box {
        width: 30%;
    }
    .container {
        width: 90% !important;
        max-height: 25vh;
        border-radius: 5px;
    }
}